.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* Shared text rules */
.about_content {
    width: 95%;
}

.about_content h2 {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    font-weight: 500;
    text-align: center;
}

.about_content p {
    width: 100%;
    color: var(--clr-slate600);
    font-size: var(--size-sm);
    line-height: 25px;
    text-align: center;
}

.about_content p .together {
    color: var(--clr-rose);
}

/* Image container */
.about_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.about_img img {
    width: 20rem;
    height: auto;
    border-radius: 5px;
    border-bottom-left-radius: 120px;
    box-shadow: -0px 0px 5px 0px #000;
}

/* ------------ TECH SKILLS ------------ */

.tech_skills {
    width: 100%;
    margin: 50px 20px;
    color: var(--clr-slate400);
    margin-top: 50px;
}

.techImg a img {
    width: 80px;
}

.about_hr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: var(--clr-slate800);
}

.about_subtitle {
    font-size: var(--size-2xl);
    color: var(--clr-p-light);
    padding: 20px 0;
    text-align: center;
}

/* About UL styling */
.about_ul_container {
    display: flex;
    flex-direction: column;
}

.about_ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: '\1F4CC';
    padding-left: 1.5em;
}

.about_list {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

/* ----------- SCROLLING TECH STACK ------------- */

.scroller {
    overflow: hidden;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 0deg;
}

.scroller::before,
.scroller::after {
    content: '';
    height: 50%;
    box-shadow: 0px 10px 10px 70px var(--clr-dark);
    z-index: 999;
}

.inner {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-125%);
    }
}

.techImg {
    flex: 0 0 auto;
    margin: 0 10px;
}

.techImg img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.scroller:hover .inner {
    animation-play-state: paused;
}


/* ------- RESPONSIVE CSS -------- */

/* Mobile XS (320px) */

@media (min-width: 320px) {

    .about {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 150px;
    }

    /* Shared text rules */
    .about_content {
        width: 95%;
    }

    .about_content h2 {
        font-size: var(--size-2xl);
        color: var(--clr-light);
        font-weight: 500;
        text-align: center;
    }

    .about_content p {
        width: 100%;
        color: var(--clr-slate600);
        font-size: var(--size-md);
        line-height: 25px;
        text-align: center;
    }

    .about_content p .together {
        color: var(--clr-rose);
    }

    /* Image container */
    .about_img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    .about_img img {
        width: 20rem;
        height: auto;
        border-radius: 5px;
        border-bottom-left-radius: 120px;
        box-shadow: -0px 0px 5px 0px #000;
    }

    /* ------------ TECH SKILLS ------------ */

    .tech_skills {
        width: 95%;
        margin: 50px 20px;
        color: var(--clr-slate400);
        margin-top: 50px;
    }

    .techImg a img {
        width: 70px;
    }

    .about_hr {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: var(--clr-slate800);
    }

    .about_subtitle {
        font-size: var(--size-2xl);
        color: var(--clr-p-light);
        padding: 20px 0;
        text-align: center;
    }

    /* About UL styling */
    .about_ul_container {
        display: flex;
        flex-direction: column;
    }

    .about_ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        list-style-type: '\1F4CC';
        padding-left: 1.5em;
    }

    .about_list {
        font-size: var(--size-sm);
        color: var(--clr-slate600);
    }

    /* ----------- SCROLLING TECH STACK ------------- */

    .scroller {
        overflow: hidden;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        rotate: 0deg;
    }

    .scroller::before,
    .scroller::after {
        content: '';
        height: 50%;
        box-shadow: 0px 10px 10px 70px var(--clr-dark);
        z-index: 999;
    }

    .inner {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        animation: scroll 15s linear infinite;
    }

    @keyframes scroll {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-125%);
        }
    }

    .techImg {
        flex: 0 0 auto;
        margin: 0 10px;
    }

    .techImg img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .scroller:hover .inner {
        animation-play-state: paused;
    }
}

@media (min-width: 360px) {
    .about {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 150px;
    }
}


/* SM (≥475px and above) */
@media (min-width: 475px) {
    .about {
        width: 100%;
        margin-bottom: 650px;
        margin-top: -50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tech_skills {
        width: 100%;
        margin: 50px 20px;
        color: var(--clr-slate400);
        margin-top: -600px;
    }

    .scroller {
        width: 100%;
        overflow: hidden;
        width: fit-content;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        rotate: -5deg;
        margin-left: -50px;
    }

    .about_img img {
        margin-top: 50px;
    }

}

/* MD (≥768px) */
@media (min-width: 768px) {
    .about_img {
        justify-content: start;
    }

    .about_img img {
        width: 35rem;
    }

    .about_content {
        width: 95%;
    }

    .about_content h2 {
        font-size: var(--size-4xl);
        color: var(--clr-light);
        font-weight: 500;
        text-align: center;
    }

    .about_content p {
        width: 100%;
        color: var(--clr-slate600);
        font-size: var(--size-lg);
        line-height: 25px;
        text-align: center;
    }

    .about_content p .together {
        color: var(--clr-rose);
    }

    /* Image container */

    .about{
        margin-top: 400px;
    }

    .about_img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    .about_img img {
        width: 25rem;
        height: auto;
        border-radius: 5px;
        border-bottom-left-radius: 120px;
        box-shadow: -0px 0px 5px 0px #000;
    }

    .about_hr {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: var(--clr-slate800);
    }

    .about_subtitle {
        font-size: var(--size-2xl);
        color: var(--clr-p-light);
        padding: 20px 0;
        text-align: center;
    }

        /* ------------ TECH SKILLS ------------ */

    .tech_skills {
        width: 100%;
        margin: 50px 20px;
        color: var(--clr-slate400);
        margin-top: -550px;
    }

    .techImg a img {
        width: 100px;
        height: 100px;
    }

    /* ----------- SCROLLING TECH STACK ------------- */

    .scroller {
        overflow: hidden;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        rotate: -5deg;
        margin-top: 30px;
        margin-left: 0;
    }

    .scroller::before,
    .scroller::after {
        content: '';
        height: 50%;
        box-shadow: 0px 10px 10px 70px var(--clr-dark);
        z-index: 999;
    }

    .inner {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        animation: scroll 15s linear infinite;
    }

    @keyframes scroll {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-125%);
        }
    }

    .techImg {
        flex: 0 0 auto;
        margin: 0 10px;
    }

    .techImg img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    .scroller:hover .inner {
        animation-play-state: paused;
    }
}

/* LG (≥1024px) */
@media (min-width: 1024px) {
    .about {
        margin-top: 350px;
    }

    .about_content {
        width: 50%;
        height: auto;
    }

    .about_img {
        width: 50%;
        justify-content: center;
    }

    .about_content h2{
        text-align: start;
        color: var(--clr-light);
    }

    .about_content p {
        width: 90%;
        font-size: var(--size-md);
        text-align: start;
    }

    .about_subtitle {
        font-size: var(--size-3xl);
        color: var(--clr-p-light);
        padding: 20px 0;
        text-align: center;
    }
}

/* XL (≥1280px) */
@media (min-width: 1280px) {
    .about {
        margin-top: 150px;
    }

    .about_content {
        width: 50%;
        margin-top: 60px;
    }

    .about_img {
        width: 40%;
        justify-content: flex-end;
    }

    .about_img img {
        width: 30rem;
    }

    .about_content p {
        font-size: var(--size-2xl);
        line-height: 30px;
    }

    .scroller {
        overflow: hidden;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        rotate: -3deg;
        margin-top: 80px;
    }
}